.news-container {
  width: 100%;
	margin-top: 1rem;
}

.news-title {
  width: 100%;
  display: flex;
  padding: 0 1rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.news-title h1 {
  width: 30%;
  text-align: center;
}

.separator {
  width: 100%;
	color: #000 !important;
}

.news-article-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-article {
  width: 100%;
	padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  transition: all 0.3s ease-in-out;
  gap: 1rem;
}

.news-item {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
	transform: scale(1);	
  transition: all 0.3s ease-in-out;
}


.news-item:hover {
	transform: scale(1.05);	
}

@media (max-width: 1200px) {
  .news-title h1 {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .news-title h1 {
    width: 50%;
  }
}

@media (max-width: 890px) {
  .news-title h1 {
    width: 80%;
    font-size: 1rem;
  }
}