.search {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.search-center {
  width: 80%;
  margin-top: 8rem;
  transition: all 0.3s ease;
}

.title-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.671);
}

.title__text {
  font-weight: 900 !important;
  font-size: 4rem !important;
}

.subtitle {
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
}

.subtitle__text {
  font-weight: 700 !important;
}

.search-cities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-nav {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 8px;
  min-width: 300px;
  padding-left: 10px;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.input-search {
  font-size: 1.2rem !important;
  color: #fff !important;
  padding: 0.5rem 1rem !important;
  font-size: 0.9rem !important;
}

.search-icon {
  color: #fff;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 700px) {
  .search-container {
    flex-direction: column;
    margin: 2rem 0;
  }

  .search-nav {
    margin: 0;
  }
}

@media (max-width: 370px) {
  .search-nav {
    width: 100%;
    min-width: 30px;
  }

  .title__text {
    font-size: 3rem !important;
  }

  .subtitle__text {
    font-size: 1rem !important;
  }
}
