.weather-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  padding: 2rem;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.199);
  border-radius: 20px;
  box-shadow: 0px 0px 10px silver;
}

.icon-weather {
  font-size: 8rem;
  margin: 0;
  color: #fff;
}

.info__weather {
  color: #fff;
}

.info__weather h1 {
  margin: 0;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.info__weather h3 {
  margin: 0;
  margin-bottom: 5px;
}

.info__weather h4 {
  margin: 0;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .weather {
    padding: 1rem;
		margin: 1rem 1rem;
  }

  .info__weather h1 {
    font-size: 1.5rem;
  }

  .info__weather h3 {
    font-size: 1rem;
  }

  .info__weather h4 {
    font-size: 0.8rem;
  }

  .icon-weather {
    font-size: 5rem;
  }
}

@media (max-width: 470px) {
  .weather {
    justify-content: space-around;
    padding: 1rem;
		gap: 1rem;
  }

  .info__weather h1 {
    font-size: 1rem;
  }

  .info__weather h3 {
    font-size: 0.8rem;
  }

  .info__weather h4 {
    font-size: 0.5rem;
  }

  .icon-weather {
    font-size: 4rem;
  }
}
